*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

p {
  font-family: "Barlow", sans-serif;
}

.burger-div {
  position: relative;
}

.burger-div .hamburger:hover {
  cursor: pointer;
}

.class-links {
  position: absolute;
  top: 100;
  right: 0;
  width: 80vw;
  height: 50vh;
  background: white;
  padding: 5rem;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%, 90% 10%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%, 90% 10%);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.class-links ul {
  list-style: none;
}

.class-links ul li {
  font-family: "Barlow", sans-serif;
  color: #818498;
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 1em;
}

.class-links ul .contact {
  background: #fad400;
  padding: 0.3em 0.5em 0.5em 0.5em;
  border-radius: 900px;
}

.class-links.open {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.hero {
  text-align: center;
  background: url("/image-header.jpg");
  height: 82vh;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
}

.hero .logo {
  width: 10rem;
}

.hero .nav-bar {
  top: 0;
  width: 80vw;
  height: 10vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero h1 {
  font-size: 2.5rem;
  color: white;
  margin: 1em 0 0.5em 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 900;
}

.hero .arrowDown {
  animation: upDown 1.25s alternate-reverse infinite;
}

@-webkit-keyframes upDown {
  to {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes upDown {
  to {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

.grid {
  text-align: center;
}

.grid h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1em;
}

.grid p {
  line-height: 2em;
  letter-spacing: 2px;
  margin-bottom: 1.5em;
}

.grid div[class*="grid-container"] {
  background-size: cover;
  background-position: center;
  padding: 1em;
}

.grid .grid-container1 {
  height: 45vh;
  background: url("./image-transform.jpg");
}

.grid .grid-container2 {
  height: 90vh;
}

.grid .grid-container3 {
  height: 45vh;
  background: url("./image-stand-out.jpg");
}

.grid .grid-container4 {
  height: 90vh;
}

.grid .grid-container5 {
  height: 90vh;
  background: url("./image-graphic-design.jpg");
}

.grid .grid-container6 {
  height: 90vh;
  background: url("./image-photography.jpg");
}

.grid .white-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid .white-bg h2 {
  color: #23303e;
}

.grid .white-bg p {
  color: #818498;
}

.grid .white-bg h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.3rem;
  color: #23303e;
  position: relative;
}

.grid .white-bg h6:hover {
  cursor: pointer;
}

.grid .white-bg h6::after {
  content: "";
  position: absolute;
  top: 60%;
  left: -10%;
  z-index: -1;
  width: 120%;
  height: 10px;
  background: #fad400;
  border-radius: 900px;
  opacity: 0.5;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.grid .white-bg h6:hover::after {
  -webkit-transform: scaleY(2.75);
          transform: scaleY(2.75);
}

.grid .grid-container5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 3rem;
  color: #25564b;
}

.grid .grid-container6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 3rem;
  color: #19536b;
}

.testimonials {
  padding: 3rem;
  text-align: center;
}

.testimonials h1 {
  color: #a7abae;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 2em;
}

.testimonials .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .card .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2rem;
  position: relative;
}

.testimonials .card .circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

.testimonials .card p {
  color: #818498;
  line-height: 2em;
  letter-spacing: 2px;
  margin-bottom: 1em;
}

.testimonials .card h3 {
  color: #23303e;
}

.testimonials .card .profession {
  font-size: 0.75rem;
  margin-bottom: 2rem;
}

footer {
  background: #78c9b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .grid-footer {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "A B" 
 "C D";
}

footer .grid-footer .grid-footer:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: A;
}

footer .grid-footer .grid-footer:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: B;
}

footer .grid-footer .grid-footer:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: C;
}

footer .grid-footer .grid-footer:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: D;
}

footer .grid-footer img {
  width: 100%;
}

footer svg {
  margin: 4rem 0 2rem 0;
}

footer ul {
  width: 90vw;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10vh;
}

footer ul li {
  color: #458c7e;
  font-size: 1.2rem;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}

footer ul li:hover {
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .hero {
    background: url("./image-header.jpg");
    height: 100vh;
    background-size: cover;
  }
  .burger-div {
    position: unset;
  }
  .burger-div .hamburger {
    display: none;
  }
  .nav-bar {
    position: relative;
    width: 100%;
  }
  .class-links {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: transparent;
    right: 0%;
    top: 0;
    -webkit-transform: translate(50%);
            transform: translate(50%);
    z-index: 10;
    padding: 0;
    -webkit-clip-path: none;
            clip-path: none;
  }
  .class-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 50%;
    padding: 0;
    padding: 0.5em;
  }
  .class-links ul li {
    color: white;
    font-size: 1rem;
  }
  .class-links ul li:hover {
    cursor: pointer;
  }
  .class-links ul .contact {
    background: white;
    color: inherit;
  }
  .class-links ul .contact:hover {
    background: #fad400;
  }
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(450px, 0.5fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(450px, 0.5fr));
  }
  .grid div[class*="grid-container"] {
    height: 100vh;
  }
  .grid div[class*="grid-container"] p, .grid div[class*="grid-container"] h2 {
    width: 60%;
  }
  .grid .grid-container1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    background: url("./image-transform.jpg");
  }
  .grid .grid-container2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .grid .grid-container3 {
    background: url("./image-stand-out.jpg");
  }
  .grid .grid-container5 {
    background: url("./image-graphic-design.jpg");
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grid .grid-container6 {
    background: url("./image-photography.jpg");
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  .testimonials .cards .card {
    padding: 1.5em;
    border-radius: 10px;
  }
  .grid-footer {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */
